@include fontMixin(
        $JFFlat-Regular: normal normal JFFlat,
        $Sukar-Bold: bold normal Sukar,
        $CoconNextArabic-Light: 300 normal CoconNextArabic,
        $JFFlat-Light: 300 normal JFFlat,
        $JFFlat-Medium: 500 normal JFFlat);